#map {
    height: 600px;
}


#shops {
    border: grey 2px solid;
    border-radius: 30px;
    color: darkslategrey;
}
#shops_title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1em;
    color: darkslategrey;
}